body{
	background-image: url("backgrounds/Upstream 16.bmp");
	margin-right: 0.25vw;
	margin-left: 0.25vw;
	margin-bottom: 10vh;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	line-height: 140%;
	font-size: 120%;
}

a:link{
	color: #8789CE;
}
a:visited{
	color: #C691CE;
}
a:hover{
	color: red;
}

#titlebar {
	font-size: 125%;
	line-height: 1%;
}

#titlebar hr{
	color: blue;
}

#titlebar a:link{
	color: white;
	text-decoration: none;
}

#titlebar a:visited{
	color: white;
	text-decoration: none;
}

#titlebar a:hover{
	color: white;
	text-decoration: none;
}


#nav a:link{
	color: white;
	text-decoration: none;
}
#nav a:visited{
	color: white;
	text-decoration: none;
}
#nav a:hover{
	color: blue;
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

/*
body{
font-size: large;
}
*/