html{
	background-image: url("backgrounds/Pastell.bmp");
	padding: 0% 8%;
}
#content, #titlebar{
	font-family: 'Ubuntu', sans-serif;
	padding: 0.01% 2%;
}

#content{
	background-color: white;
	line-height: 140%;
	font-size: 120%;
}

#titlebar {
	font-size: 125%;
	line-height: 1%;
}
#titlebar a:any-link{
	text-decoration: none;
	color: black;
}

#nav a:any-link{
	color: black;
	text-decoration: none;
}
#nav a:hover{
	color: blue;
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
	object-fit: contain;
}